
<div class="container">
    <div class="page-header">
        <h1 align="center">成长比成功更重要，选一个吧！<span class=" label label-default">:)</span></h1>
    </div>
    <div class="row">
    	<div class="col-md-12">
            <div class="panel with-nav-tabs panel-default" role="tablelist">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class=""><a href="/admin/jobs">公告</a></li>
                            <li class="active"><a href="/jobs">表格</a></li>

                        </ul>
                </div>

            </div>
        </div>
	</div>
</div>


<br/><br/>




<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>





<table class="table table-boldered table-striped custab" >


  <thead>
         <tr class="tableheading">
             <td align="center" >
                 职缺</td>
            <td align="center"> 工作内容 </td>
             <td align="center">薪资下限</td>
             <td align="center">薪资上限</td>
             <td align="center">刊登时间</td>
         </tr>

     </thead>
     <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <td align="center">
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td align="center">
      <%= job.description %>
    </td>

    <td align="center">
                    <%= job.wage_lower_bound %>
                </td>
                <td align="center">
                    <%= job.wage_upper_bound %>
                </td>

    <td align="center">
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

<div class="text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
